In [1]:
from __future__ import division
from __future__ import print_function
import pandas as pd
import numpy as np
from collections import defaultdict
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF

from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, roc_curve, auc
from sklearn import cross_validation
from sklearn.feature_selection import VarianceThreshold
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
%matplotlib inline

import nltk
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import *
from nltk import word_tokenize
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

import re
from HTMLParser import HTMLParser
import datetime
import cPickle as pickle
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
# Files
all_file = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/all_withindgroup.txt'
tech_file = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/tech_withind.txt'
hadoop_all = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/all_hadoop.txt'
hadoop_tech = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/tech_hadoop.txt'

In [ ]:
dfall1 = pd.read_csv(all_file, sep="|")
dftech1 = pd.read_csv(tech_file, sep="|")
dfh = pd.read_csv(hadoop_all, sep="|")
dfht = pd.read_csv(hadoop_tech, sep="|")

dftech_all = pd.concat([dftech1, pd.read_csv(hadoop_tech, sep="|")], axis=0)
df_all2 = pd.concat([dfall1, pd.read_csv(hadoop_all, sep="|")], axis=0)

In [ ]:
f_vocab = str(f_vocab)

In [2]:
all_file = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/all2.txt'
tech_file = '/Users/lekha/galvanize/capstone/projectRiley/data/withindgroup/tech_all2.txt'

df1 = pd.read_csv(all_file, sep="|")
df2 = pd.read_csv(tech_file, sep="|")
df = df1.copy()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26850 entries, 0 to 26849
Data columns (total 24 columns):
first_name          26850 non-null object
full_name           26850 non-null object
html                26850 non-null object
industry            26850 non-null object
location            26850 non-null object
summary             26850 non-null object
title               26850 non-null object
counter             26850 non-null float64
source              26850 non-null object
full_name_fields    26850 non-null object
name_fields         26850 non-null int64
gender              26850 non-null object
gender_type         26850 non-null object
gender_forced       26850 non-null object
name_counts         26850 non-null int64
loc_fields          26850 non-null object
state               26850 non-null object
ind_group           26850 non-null int64
class               26850 non-null int64
summ_tokens         26850 non-null object
num_tokens          26850 non-null int64
summ_missing        26850 non-null int64
avg_len             26850 non-null float64
lex_diversity       26850 non-null float64
dtypes: float64(3), int64(6), object(15)
memory usage: 5.1+ MB

In [6]:
df3 = df1[df1.industry == 'computer software']

In [18]:
ds1 = df1[df1.title == 'Software Engineer']

In [20]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 4622 to 26087
Data columns (total 24 columns):
first_name          20 non-null object
full_name           20 non-null object
html                20 non-null object
industry            20 non-null object
location            20 non-null object
summary             20 non-null object
title               20 non-null object
counter             20 non-null float64
source              20 non-null object
full_name_fields    20 non-null object
name_fields         20 non-null int64
gender              20 non-null object
gender_type         20 non-null object
gender_forced       20 non-null object
name_counts         20 non-null int64
loc_fields          20 non-null object
state               20 non-null object
ind_group           20 non-null int64
class               20 non-null int64
summ_tokens         20 non-null object
num_tokens          20 non-null int64
summ_missing        20 non-null int64
avg_len             20 non-null float64
lex_diversity       20 non-null float64
dtypes: float64(3), int64(6), object(15)
memory usage: 3.9+ KB

In [21]:
ds1.head(20)

,first_name,full_name,html,industry,location,summary,title,counter,source,full_name_fields,...,name_counts,loc_fields,state,ind_group,class,summ_tokens,num_tokens,summ_missing,avg_len,lex_diversity
4622,sonal,sonal aggarwal,../../data/raw/2015-12-24-caltech/sonalaggarwa...,computer software,greater new york city area,i am a graduate student pursuing masters in c...,Software Engineer,1,caltech,"['sonal', 'aggarwal']",...,1,"['new', 'york']",NY,2,0,"['i', 'am', 'a', 'graduate', 'student', 'pursu...",24,0,5.875000,0.958333
6856,brian,brian ross,../../data/raw/2015-05-26-Washington/brdynamic...,computer software,greater seattle area,i graduated with my bachelor of arts in compu...,Software Engineer,1,huskies,"['brian', 'ross']",...,113,['seattle'],WA,2,1,"['i', 'graduated', 'with', 'my', 'bachelor', '...",235,0,5.548936,0.693617
9853,isaac,isaac myers,../../data/raw/2015-05-26-Washington/isaacmyer...,computer software,san francisco bay area,software engineer with experience working on ...,Software Engineer,1,huskies,"['isaac', 'myers']",...,7,"['san', 'francisco', 'bay']",CA,2,1,"['software', 'engineer', 'with', 'experience',...",43,0,6.465116,0.767442
10114,janet,janet kuo,../../data/raw/2015-05-26-Washington/janetkuo....,computer software,san francisco bay area,5 years of work experience in software devel...,Software Engineer,1,huskies,"['janet', 'kuo']",...,23,"['san', 'francisco', 'bay']",CA,2,0,"['5', 'years', 'of', 'work', 'experience', 'in...",67,0,5.791045,0.626866
10160,jarrett,jarrett revels,../../data/raw/2015-05-26-Washington/jarrettre...,computer software,"washington, district of columbia",im an engineer researcher with a strong inter...,Software Engineer,1,huskies,"['jarrett', 'revels']",...,3,"['washington', 'district', 'of', 'columbia']",DC,2,1,"['im', 'an', 'engineer', 'researcher', 'with',...",39,0,5.692308,0.948718
10317,jeff,jeff chiu,../../data/raw/2015-05-26-Washington/codeforkj...,information technology and services,"philadelphia, pennsylvania",im pretty good at making software and i even ...,Software Engineer,1,huskies,"['jeff', 'chiu']",...,100,"['philadelphia', 'pennsylvania']",PA,2,1,"['im', 'pretty', 'good', 'at', 'making', 'soft...",16,0,3.812500,1.000000
10885,joel,joel larsen,../../data/raw/2015-05-26-Washington/joelmaxla...,computer software,"reno, nevada",i strive to be involved in work that i am ful...,Software Engineer,1,huskies,"['joel', 'larsen']",...,20,"['reno', 'nevada']",NV,2,1,"['i', 'strive', 'to', 'be', 'involved', 'in', ...",57,0,5.017544,0.859649
14128,nathaniel,nathaniel ekoniak,../../data/raw/2015-05-26-Washington/orinthe.html,computer software,"seattle, washington",i am a skilled software engineer living in se...,Software Engineer,1,huskies,"['nathaniel', 'ekoniak']",...,6,"['seattle', 'washington']",WA,2,1,"['i', 'am', 'a', 'skilled', 'software', 'engin...",56,0,5.214286,0.750000
15460,ryan,ryan allen,../../data/raw/2015-05-26-Washington/ryanaalle...,defense space,washington d.c. metro area,specialtiesmodeling and simulation object ori...,Software Engineer,1,huskies,"['ryan', 'allen']",...,102,"['washington', 'dc', 'metro']",DC,3,1,"['specialtiesmodeling', 'and', 'simulation', '...",9,0,7.777778,0.888889
15911,shannon,shannon rush,../../data/raw/2015-05-26-Washington/shannonru...,computer software,greater denver area,software engineer specializing in data scienc...,Software Engineer,1,huskies,"['shannon', 'rush']",...,30,['denver'],CO,2,0,"['software', 'engineer', 'specializing', 'in',...",12,0,6.333333,1.000000
16612,ted,ted ballou,../../data/raw/2015-05-26-Washington/tedballou...,computer network security,greater chicago area,a physics major at oberlin college during sen...,Software Engineer,1,huskies,"['ted', 'ballou']",...,9,['chicago'],IL,3,1,"['a', 'physics', 'major', 'at', 'oberlin', 'co...",289,0,5.754325,0.640138
17489,zhiyong,zhiyong joe xie,../../data/raw/2015-05-26-Washington/zhiyongxi...,computer software,san francisco bay area,passionate about solving the challenges of la...,Software Engineer,1,huskies,"['zhiyong', 'joe', 'xie']",...,1,"['san', 'francisco', 'bay']",CA,2,1,"['passionate', 'about', 'solving', 'the', 'cha...",58,0,5.086207,0.862069
19954,erdong,erdong fang,../raw/hadoop2015-01-09/output15525.html,computer software,"arlington, virginia",looking for a full time opportunity in softwa...,Software Engineer,1,hadoop_20150109,"['erdong', 'fang']",...,1,"['arlington', 'virginia']",VA,2,1,"['looking', 'for', 'a', 'full', 'time', 'oppor...",10,0,6.100000,1.000000
21311,josh,josh vinson,../raw/hadoop2015-01-09/output14418.html,computer software,san francisco bay area,i make things i make them work and i make the...,Software Engineer,1,hadoop_20150109,"['josh', 'vinson']",...,24,"['san', 'francisco', 'bay']",CA,2,1,"['i', 'make', 'things', 'i', 'make', 'them', '...",13,0,3.384615,0.615385
21776,kevin,kevin nguyen,../raw/hadoop2015-01-09/output15169.html,computer software,san francisco bay area,has general experience with multiple programm...,Software Engineer,1,hadoop_20150109,"['kevin', 'nguyen']",...,60,"['san', 'francisco', 'bay']",CA,2,1,"['has', 'general', 'experience', 'with', 'mult...",87,0,5.942529,0.666667
24272,senlu,senlu tom chen,../raw/hadoop2015-01-09/output19350.html,higher education,"evanston, illinois",i am a student at northwestern university stu...,Software Engineer,1,hadoop_20150109,"['senlu', 'tom', 'chen']",...,1,"['evanston', 'illinois']",IL,1,1,"['i', 'am', 'a', 'student', 'at', 'northwester...",20,0,4.950000,0.950000
24844,tirso,tirso peguero,../raw/hadoop2015-01-09/output20395.html,computer software,"san francisco, california",ive always liked solving problems and being a...,Software Engineer,1,hadoop_20150109,"['tirso', 'peguero']",...,1,"['san', 'francisco', 'california']",CA,2,1,"['ive', 'always', 'liked', 'solving', 'problem...",136,0,4.257353,0.713235
24925,trevor,trevor adams,../raw/hadoop2015-01-09/output20420.html,computer software,san francisco bay area,software engineer with particular interest an...,Software Engineer,1,hadoop_20150109,"['trevor', 'adams']",...,10,"['san', 'francisco', 'bay']",CA,2,1,"['software', 'engineer', 'with', 'particular',...",41,0,6.121951,0.756098
25106,weihao,weihao ming,../raw/hadoop2015-01-09/output20767.html,computer software,greater chicago area,master student in computer science at northwe...,Software Engineer,1,hadoop_20150109,"['weihao', 'ming']",...,1,['chicago'],IL,2,1,"['master', 'student', 'in', 'computer', 'scien...",26,0,6.346154,0.884615
26087,jinsoo,jinsoo park,../raw/hadoop2015-03-23/output2440.html,computer software,greater boston area,i am an engineer with solid background in mat...,Software Engineer,1,hadoop_20150323,"['jinsoo', 'park']",...,1,['boston'],MA,2,1,"['i', 'am', 'an', 'engineer', 'with', 'solid',...",49,0,6.040816,0.857143

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 17 to 26825
Data columns (total 24 columns):
first_name          1456 non-null object
full_name           1456 non-null object
html                1456 non-null object
industry            1456 non-null object
location            1456 non-null object
summary             1456 non-null object
title               1456 non-null object
counter             1456 non-null float64
source              1456 non-null object
full_name_fields    1456 non-null object
name_fields         1456 non-null int64
gender              1456 non-null object
gender_type         1456 non-null object
gender_forced       1456 non-null object
name_counts         1456 non-null int64
loc_fields          1456 non-null object
state               1456 non-null object
ind_group           1456 non-null int64
class               1456 non-null int64
summ_tokens         1456 non-null object
num_tokens          1456 non-null int64
summ_missing        1456 non-null int64
avg_len             1456 non-null float64
lex_diversity       1456 non-null float64
dtypes: float64(3), int64(6), object(15)
memory usage: 284.4+ KB

In [30]:
# Functions
def missing(df):
    if df.summary == 'missing' or df.num_tokens == 0:
        return 1
    else:
        return 0    

    
def lenx(mystr):
    return len(mystr.split())


def avgchrs(mytokens):
    tw = len(mytokens)    
    num_chars = 0
    for word in mytokens:
        num_chars += len(word)        
    return num_chars/tw


def remove_digits(mystr):
    '''
    INPUT: list of tokens 
    OUTPUT: list of tokens with digits removed
    '''
    result = []
    mystopwords = ['management', 'development', 'experience', 'including', 'well', 'years']
    mystopwords = set(stopwords)
    for word in mystr:
        if not word.isdigit():
            if word not in mystopwords:
                result.append(word)
        return result

            
    #return [word for word in mystr if not word.isdigit() and not in ['management', 'development', 'experience', 'including', 'well', 'years']]


stemmer = SnowballStemmer("english")
def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed


def tokenize(text):
    tokens = word_tokenize(text)
    row = remove_digits(tokens)
    stems = stem_tokens(row, stemmer)
    return stems


def tokenize_no_stem(text):
    tokens = word_tokenize(text)
    row = remove_digits(tokens)
    stems = stem_tokens(row, stemmer)
    return tokens 

def preprocess_df(df):
    # Feature Engineering before running the prediction code
    df['class'] = np.ones(len(df))
    df['class'] = df['gender_forced'].apply(lambda x: 0 if x == 'female' else 1)

    df['summ_tokens'] = df['summary'].apply(lambda x: nltk.word_tokenize(str(x)))
    df['num_tokens'] = df['summ_tokens'].apply(lambda x: len(x))

    # Add feature for missing summary
    df['summ_missing'] = df.apply(missing, axis = 1)

    # Only include rows with summaries
    df = df[df['summ_missing'] == 0]

    # Some Nan rows refuse to go without this
    df = df[pd.notnull(df['summary'])]

    print ("Length of DF after removing rows with missing Summaries:\n")
    print (len(df))

    df['avg_len'] = df['summ_tokens'].apply(lambda x: avgchrs(x))

    # lexical diversity = number of unique tokens / total number of tokens
    df['lex_diversity'] = df['summ_tokens'].apply(lambda x: len(set(x))/len(x))
    
    return df

In [31]:
# Print the top 20 words and weights for each topic
def print_top_weights(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(H):
        print("Topic #%d:" % topic_idx)
        top_weights = topic.argsort()[:-n_top_words - 1:-1]
        #print (top_weights)
        print (" ".join(["{0}, {1}".format(feature_names[x], topic[x]) for x in top_weights]))
    print()
    

# Print the most probable topic for each document/profile
def profiles_by_topic(W):
    top_idx = np.zeros([W.shape[0],1], dtype=int)
    for row_idx, row in enumerate(W):
        topic_idx = row.argsort()[-1]  
        top_idx[row_idx] = topic_idx
    topics, counts = np.unique(top_idx, return_counts=True)
    print (np.asarray((topics, counts)).T)
    return top_idx

           
def run_topic_model_tfidf(X, stopwords):
    print ("Bag of Words, Tfidf\n")
    
    vectorizer = TfidfVectorizer(analyzer = 'word', tokenizer = tokenize_no_stem, stop_words = stopwords, max_features = 5000)
    word_frequencies = vectorizer.fit_transform(X)

    # Numpy arrays are easy to work with, so convert the result to an 
    # array
    word_frequencies = word_frequencies.toarray()
    feature_names = vectorizer.get_feature_names()

    # NMF Model to determine topics
    nmf_model = NMF(n_components=4, init='random', random_state=0)
    W = nmf_model.fit_transform(word_frequencies)
    # H: Topics * Words
    H = nmf_model.components_
    print (H.shape, W.shape)
    
    n_top_words = 20
    # Print weights and topics for the top 20 topics
    for topic_idx, topic in enumerate(H):
        print("Topic #%d:" % topic_idx)
        top_weights = topic.argsort()[:-n_top_words - 1:-1]
        print (" ".join(["{0}".format(feature_names[x]) for x in top_weights]))
    print()
    
    # Highest Weighted Topic for each profile
    print ("Number of profiles by topic\n")
    top_idx = profiles_by_topic(W) 
    
    return nmf_model, W, top_idx


#tokenize: function that is stemming using SnowballStemmer
#stopwords: custom stop words
def run_topic_model_countv(X, stopwords):
    print ("Bag of words, Count Vectorizer...\n")
    vectorizer = CountVectorizer(analyzer = "word",   \
                                 tokenizer = tokenize_no_stem,    \
                                 preprocessor = None, \
                                 stop_words = stopwords,   \
                                 max_df = 0.7, \
                                 min_df = 5, \
                                 max_features = 5000) 


    # fit_transform() does two functions: First, it fits the model
    # and learns the vocabulary; second, it transforms our training data
    # into feature vectors. The input to fit_transform should be a list of 
    # strings.
    word_frequencies = vectorizer.fit_transform(X)

    # Numpy arrays are easy to work with, so convert the result to an 
    # array
    word_frequencies = word_frequencies.toarray()
    feature_names = vectorizer.get_feature_names()

    # NMF Model to determine topics
    nmf_model = NMF(n_components=4, init='random', random_state=0)
    W = nmf_model.fit_transform(word_frequencies)
    # H: Topics * Words
    H = nmf_model.components_
    print (H.shape, W.shape)
    
    n_top_words = 20
    # Print weights and topics for the top 20 topics
    for topic_idx, topic in enumerate(H):
        print("Topic #%d:" % topic_idx)
        top_weights = topic.argsort()[:-n_top_words - 1:-1]
        #print (" ".join(["{0}".format(feature_names[x]) for x in top_weights]))
        print (" ".join(["{0}, {1}".format(feature_names[x], topic[x]) for x in top_weights]))
    print()
    
    print ("Number of profiles by Topic\n")
    top_idx = profiles_by_topic(W)
    
    #print ("Example Profiles by Topic\n")
    
    return nmf_model, W, top_idx

In [24]:
def topic_models_by_df(df):
    df = preprocess_df(df)
    females = df[df['gender'] == 'female']
    males = df[df['gender'] == 'male']

    X = df['summary']
    y = np.array(df['class'])
    print ("Topics for ALL profiles: TFIDF\n")
    nmf_model, W, top_idx = run_topic_model_tfidf(X, stopwords)
    
    print ("Topics for ALL profiles: Count Vectorizer\n")
    nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)

    X = females['summary']
    y = np.array(females['class'])
    print ("Topics for FEMALE profiles: TFIDF\n")
    nmf_model, W, top_idx = run_topic_model_tfidf(X, stopwords)
    print ("Topics for FEMALE profiles: Count Vectorizer\n")
    nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)

    X = males['summary']
    y = np.array(males['class'])
    print ("Topics for MALE profiles: TFIDF\n")
    nmf_model, W, top_idx = run_topic_model_tfidf(X, stopwords)
    print ("Topics for MALE profiles: Count Vectorizer\n")
    nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)

In [32]:
df= preprocess_df(df)
topic_models_by_df(df)

Length of DF after removing rows with missing Summaries:

26850
Length of DF after removing rows with missing Summaries:

26850
Topics for ALL profiles: TFIDF

Bag of Words, Tfidf

(4, 5000) (26850, 4)
Topic #0:
production collaborate honest ones supervising 1000 perspective los forwardthinking budget dc timelines applicable stores adventures lake returned doe curriculum parts
Topic #1:
mi awesome wholesale much fan 2007 pennsylvania israel consider cell xhtml values predictive partnership latin expenses 2011 ceo psychology hebrew
Topic #2:
driven display audience reproductive ownership catalog missions repair thinker engagement lgbt grants group qualifications general position governments spread blogger oneonone
Topic #3:
nontechnical woman employee cook scheduling steve catholic vermont creator iraq recruiters distributed officers biophysics network inspirational evangelist wellversed brown invitations

Number of profiles by topic

[[   0 5720]
 [   1 5054]
 [   2 7762]
 [   3 8314]]
Topics for ALL profiles: Count Vectorizer

Bag of words, Count Vectorizer...

(4, 5000) (26850, 4)
Topic #0:
management, 65.4630967742 research, 54.7746234095 design, 48.1734427845 education, 37.6653596683 experience, 35.0433783507 years, 35.024617188 development, 32.9292295904 university, 28.3840827749 business, 27.5846223 team, 26.0789832545 training, 25.9186890727 social, 24.9925725306 sales, 23.4412273589 product, 23.212369117 online, 22.563062869 planning, 22.1401795047 music, 22.136226489 software, 21.9912568368 engineering, 21.232868384 community, 21.0435307536
Topic #1:
development, 58.9505218706 management, 57.0870542002 experience, 47.9425846457 analysis, 40.0375694382 university, 38.3815383178 data, 37.9731430566 research, 37.5123901108 technology, 33.3582041197 including, 31.1275825654 projects, 29.2867379595 science, 27.5839679271 also, 26.9549864045 information, 26.8996389761 international, 24.2826684526 new, 22.7316610219 art, 20.6799170461 worked, 20.523285843 national, 20.4263336044 years, 19.9986728994 systems, 19.4627979415
Topic #2:
business, 56.2130797498 development, 56.1381958209 university, 44.2620727472 design, 43.6388085231 management, 40.0378830152 media, 37.1124591018 public, 36.7386606737 international, 30.3403396027 project, 29.0930449559 years, 27.3499934016 law, 25.7928978109 new, 24.8670102075 school, 24.6275368548 industry, 22.5499848344 engineering, 22.3302553589 policy, 22.3131105417 health, 22.1010081642 leadership, 20.4233967012 career, 20.2667887422 also, 19.8937021969
Topic #3:
experience, 80.277992361 marketing, 67.0251013741 work, 65.2449454402 management, 61.9855990004 business, 61.9449911839 skills, 57.7538224939 leadership, 35.4637838602 new, 32.3905279973 professional, 30.8625137725 project, 30.4337629075 years, 29.6713860187 working, 27.8311351574 planning, 27.457270104 well, 26.5739287081 strategic, 25.5176415766 communication, 25.0557420787 strong, 24.9508041996 development, 22.2191769246 program, 22.0668272215 social, 21.4954037266

Number of profiles by Topic

[[   0 5573]
 [   1 7305]
 [   2 5461]
 [   3 8511]]
Topics for FEMALE profiles: TFIDF

Bag of Words, Tfidf

(4, 5000) (8855, 4)
Topic #0:
advocacy guy believes sponsored pittsburgh angel soft del software emotions large learners mix atlanta ready robert programme accountability core penetration
Topic #1:
codes associated single publish multiplatform hours informal costume already ethics iv trend contributed discussions investigator web arabic intense signal remote
Topic #2:
acted name phases fellowship gaining specialities auditing division keeping ca africa chartered chromatography uk get equality efficiencies fda compete passed
Topic #3:
summary combination fellowships guatemala clinics expression witness studio g without enhance ajax keen convention colleagues n identifying context exhibits preschool

Number of profiles by topic

[[   0 1700]
 [   1 2658]
 [   2 2617]
 [   3 1880]]
Topics for FEMALE profiles: Count Vectorizer

Bag of words, Count Vectorizer...

(4, 5000) (8855, 4)
Topic #0:
management, 45.4191545938 experience, 39.8144730512 development, 33.7690279716 research, 32.5863679869 years, 26.3042280686 marketing, 25.1648045214 business, 25.0427107007 skills, 23.5536229686 university, 22.9088710378 work, 22.2581844307 health, 20.5602790833 professional, 18.9511802085 design, 17.6629964052 international, 17.6269811438 working, 17.4669675394 new, 17.1993335928 program, 17.1289263205 public, 16.8602698815 education, 16.7095923871 also, 15.630530509
Topic #1:
management, 37.635370927 experience, 32.0726278558 business, 26.6438729091 development, 26.6324377151 design, 22.9759003901 work, 22.8411643011 skills, 20.6611154483 marketing, 20.6404887271 years, 18.7010973581 university, 17.4721431996 professional, 16.6499909095 project, 16.5020825246 research, 16.4381952945 new, 16.2092934927 media, 13.0761680392 social, 12.6384045796 working, 12.5685106876 writing, 12.3754570164 team, 12.1843113498 also, 11.7809177235
Topic #2:
management, 32.2101402392 experience, 27.2666173644 business, 26.5788524336 development, 24.0904821213 university, 20.1946267637 social, 17.6733322056 work, 16.4712164743 research, 16.3654073232 years, 15.3831703408 marketing, 14.7762705988 new, 14.6685409228 project, 13.8555204114 also, 13.3777984146 specialties, 13.2608913683 public, 12.6999860457 health, 12.5474651449 media, 12.3175566533 design, 11.8751010397 planning, 11.3597081314 community, 11.312573325
Topic #3:
management, 28.5236409103 experience, 26.759649532 development, 22.6261617905 university, 20.5063612321 research, 19.8171656652 work, 17.3853407797 business, 16.4670283422 new, 16.1075090536 marketing, 15.2847805437 years, 14.6037923731 project, 14.4469524296 media, 14.2411462243 also, 13.8489929814 education, 13.6120095414 skills, 13.5741133813 health, 12.7478383143 social, 11.91498289 design, 11.7246154798 program, 11.4763781184 professional, 11.0096183807

Number of profiles by Topic

[[   0 3506]
 [   1 2129]
 [   2 1795]
 [   3 1425]]
Topics for MALE profiles: TFIDF

Bag of Words, Tfidf

(4, 5000) (17995, 4)
Topic #0:
engines ranging plans therapies standard concerns note covering diabetes rewarding detail america personable networking seo dependable surgical familiarity glass utility
Topic #1:
interact cad auditor thinking someone physician usually personal photographs aim al analyze arcgis schedules accenture highlights realtor independently short ensembles
Topic #2:
reference spoken sensing cost multimedia ability 12 around mission identified responsible xp forestry civilian current congress publications comes 1992 inform
Topic #3:
equipment thanks narrative existing sensors boy jeff considerable algebra translating circumstances agile method fashion rd sectors rep postgresql merchandising charles

Number of profiles by topic

[[   0 4320]
 [   1 4964]
 [   2 3996]
 [   3 4715]]
Topics for MALE profiles: Count Vectorizer

Bag of words, Count Vectorizer...

(4, 5000) (17995, 4)
Topic #0:
management, 66.5603658995 experience, 48.983338928 development, 38.6313448798 business, 32.5846060406 research, 30.4971535866 university, 24.4095868428 project, 23.765198974 marketing, 22.4342644694 social, 21.6954498566 skills, 21.4723361266 years, 20.9705825155 data, 20.5703358729 design, 19.8316914691 new, 19.5091435123 work, 17.8189199672 analysis, 16.7348191859 leadership, 16.4728966752 professional, 15.3839344046 media, 15.3642730632 specialties, 15.145519998
Topic #1:
management, 50.2824157694 experience, 34.9095263874 business, 31.2093897269 university, 31.054777799 years, 28.8575145576 development, 26.9984017937 design, 22.3156350639 marketing, 20.4469575778 work, 20.4283672144 research, 19.8869392702 international, 19.7379426454 public, 19.5972220981 education, 19.1409633651 skills, 18.9541175701 sales, 18.8506347545 program, 18.544401077 new, 17.7629327029 also, 17.7319365595 leadership, 17.1281085065 project, 16.8358217428
Topic #2:
business, 39.0282377688 development, 37.2808379235 experience, 24.889567702 management, 21.4729387082 work, 20.8660493828 design, 16.7324218421 university, 16.3959136115 also, 15.7460630846 years, 15.4599340274 new, 15.2065026419 including, 14.5609169341 technology, 14.0742588498 planning, 12.7960842194 research, 12.540230323 working, 12.4979161441 specialties, 11.3339142421 marketing, 11.0083528101 music, 10.4004561335 science, 10.3393645768 software, 10.0247704669
Topic #3:
management, 30.2080954624 experience, 29.8469527066 development, 28.6426519853 business, 23.9262275247 research, 21.0559497329 design, 20.1689024683 years, 18.1449613965 technology, 17.7788793453 university, 17.296503031 marketing, 16.8385752808 systems, 15.2284338127 analysis, 15.0210473235 professional, 13.2408177355 planning, 12.9135309701 project, 12.894663652 work, 12.8086264217 engineering, 12.5136322214 including, 12.0070600332 new, 11.8818602816 career, 11.7486832713

Number of profiles by Topic

[[   0 5562]
 [   1 5867]
 [   2 3511]
 [   3 3055]]

In [ ]:
df = preprocess_df(df)
females = df[df['gender'] == 'female']
males = df[df['gender'] == 'male']

X = df['summary']
y = np.array(df['class'])

print ("Topics for ALL profiles: Count Vectorizer\n")
nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)

X = females['summary']
y = np.array(females['class'])

print ("Topics for FEMALE profiles: Count Vectorizer\n")
nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)

X = males['summary']
y = np.array(males['class'])

print ("Topics for MALE profiles: Count Vectorizer\n")
nmf_model, W, top_idx = run_topic_model_countv(X, stopwords)